.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --font-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --family-color: #212121;
}

body {
  font-family: var(--font-family);
  color: var(--family-color);
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.navigation-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
}

.navigation-logo,
.navigation-logo-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.navigation-logo {
  color: var(--family-color);
}

.navigation-logo-color {
  color: var(--main-color);
}

.navigation-logo-footer {
  margin-top: 60px;
}

.navigation-logo-footer {
  font-family: var(--secondary-font);
}

.navigation-logo-footer {
  color: #ffffff;
}

.model-btn,
.model-btn-newsletter {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  font-family: var(--font-family);
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.model-btn {
  display: block;
  margin-top: 20px;
}

.model-btn-newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.model-btn-portfolio {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin: 0 auto;
  display: block;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn-portfolio:hover,
.model-btn-portfolio:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.secondary-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

.social-list-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.social-icon-footer {
  width: 20px;
  height: 20px;
}

.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  fill: #ffffff;
  background-color: var(--main-color);
}

.social-list-link-footer {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */