.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  color: var(--family-color);
}
.logo,
.logo__footer {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo__color {
  color: var(--main-color);
}

.logo__footer {
  font-family: var(--secondary-font);
  margin-top: 60px;
  color: #ffffff;
}
