.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 528px;
  min-height: 581px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 11px;
  height: 11px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-div {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;

  &:focus-within .icon-modal {
    fill: var(--main-color);
    border-color: var(--main-color);
  }
}

.icon-modal {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 14px;
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal-div input {
  padding-left: 42px;
}

.modal-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--family-color);

  &:focus {
    border-color: var(--main-color);
    outline: none;
  }
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  color: var(--family-color);

  &:focus {
    border-color: var(--main-color);
    outline: none;
  }
}

.modal-div-textarea {
  margin-top: 4px;
  margin-bottom: 20px;
}

input {
  padding: 0;
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal-form-policy-text {
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--family-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-form-policy {
  &:checked + .modal-form-policy-text::before {
    background: #2196f3;
    border-radius: 2px;
    border: none;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.div-policy {
  margin-bottom: 20px;
}

.policy-text-margin,
.policy-text,
.policy-text-link {
  width: 395px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.policy-text-margin,
.policy-text {
  color: #757575;
}

.policy-text-margin {
  margin-left: 8px;
}

.policy-text-link {
  color: var(--main-color);
  text-decoration: underline;
}
