.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--main-color);
  }
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--main-color);
  }
}

.social-icon-footer {
  width: 20px;
  height: 20px;
}

.social-list-item-footer {
  &:not(:last-child){
    margin-right: 10px;
  }
  
}
