.portfolio {
  padding-top: 94px;
}

.filters-list-portfolio {
  display: flex;
  align-items: center;
  margin-left: 332px;
}

.filters-list-item-portfolio {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
