.navigation-advantages-h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  left: 215px;
  top: 774px;
}

.navigation-advantages-p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.navigation-advantages-list {
  display: flex;
  align-items: center;
}

.advantages {
  padding-top: 94px;
  margin: 0;
}
.navigation-advantages-item {
  top: 774px;

  &:not(:last-child) {
    margin-right: 30px;
    top: 93px;
  }
}

.advantages_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.advantages_link {
  fill: #afb1b8;
}

.advantages_icon {
  width: 270px;
  height: 120px;
}
